.app-container {
  text-align: center;
  display: flex;
  background-color: #33373d;
  height: 100vh;
}

label {
  margin-right: 10px;
}

.create-button {
  background-color: #39548a;
  color: white;
  border-radius: 3px;
  padding: 0px 20px;
  cursor: pointer;
  font-size: 16px;
  height: 36px;
  border: none;
  margin-top: 14px;
  margin-right: 20px;
}

.create-button:hover {
  background-color: darkblue; 
}

.input-row{
  width: 50%;
  background: transparent;
  border: 1px solid rgba(245, 245, 245,0.5);
  height: 25px;
  color: white;
}
.dGrid{
  margin-right: 20px;
}